*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 46px;
    display: block;
    max-width: 100%;
}
.nav-bar{
    line-height: 46px;
    background-color: #000;
    /* position: fixed; */
    width: 100vw;
    max-width: 100%;
   
}
.nav-bar li{
    display: inline-block;
    position: relative;
}
.nav-bar li a:hover{
    color: #000;
    background-color: #ddd;
    display: block;
}

.nav-bar li:hover .sub-nav{
    display: block;
}
.nav-bar li a{
    height: 46px;
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sub-nav{
    display: none;
    position: absolute;
    background-color: #fff;
}
.sub-nav li a {
    color: #000;
}
.sub-nav li{
    display: block;
}

.content-container{
    background-image: url(https://cdn.theatlantic.com/thumbor/kkIi6TvMYcF3uPmU8D-5BN6v9Lg=/0x0:5302x2982/1952x1098/media/img/mt/2022/06/GettyImages_806191272_copy/original.jpg);
    width: 100vw;
    max-width: 100%;
    object-fit: scale-down;
    background-position: 90% 0%;   
}

.content-main{
    width: 100%;
    margin: 0 auto;
    padding: 20px 80px;
}
.content-title{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    font-size: 40px;
}
.content-main p{
    padding: 20px 40px;
    color: #fff;
    font-size: 30;
    font-size: 22px;
    letter-spacing: 2px;
}
.content-search{
    padding: 30px 0 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-search input{
    width: 400px;
    height: 40px;
    padding: 0 8px;
    background-image: url(http://127.0.0.1:5501/assets/img/icon-search.png);
    background-size: 18px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 12px;
    border-color: transparent;
}

.slide{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding-top: 40px;
  
}
.slide-box{
    width: 400px;
    height: 600px;
}
.slide-box:hover .slide-info{
    background-color: #000;
}
.slide-box:hover .slide-info h2, 
.slide-info h4{
    color: #ddd;
}
.slide-img{
    width: 400px;
    height: 300px;
}
.slide-info{
    padding: 10px 20px;
    border: 2px solid black;
    margin-top: -4px;
}
.slide-info h2{
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.slide-info h4{

}