/* PC */
@media (min-width: 1024px) {
    .content-search input{
       margin: 0;
    } 
    body{
        height: 1366px;
    }
    #mobile-menu-btn{
        display: none;
    }
    .nav-bar{
        width: 100% !important;
        height: 46px !important;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header{
        width: 100%;
    }
    .nav-bar{
        width: 100% !important;
        height: 46px !important;
    }
    .content-container{
        width: 100%;
    }
    .content-title{
        font-size: 34px;
    }
    #mobile-menu-btn{
        display: none;
    }
  
}
/* Mobile */
@media (max-width: 740px){
    .nav-bar{
       
        text-align: center;
        letter-spacing: 2px;
        height: 46px;
        overflow: hidden;
        /* width: 90%; */
        width: 100%;
        position: relative;

    }
  
    .nav-bar li {
        display: block;
        
    }
    
    .content-title{
        font-size: 22px;
    }
    
   
    .content-main{
        padding: 20px 20px;
    }
    .content-main p{
        font-size: 16px;
        padding: 10px;
    }
    .sub-nav{
        width: 100%;
    }
/* ==================================================================Mobile button */
  
    .btn{
        font-size: 28px;
        line-height: 46px;
        color: #fff;
    }
    .mobile-menu-btn{
            /* width: 10%; */
        top: 0px;
        right: 0;
        float: right;
        padding: 9px 12px;
        background-color: #000;
        z-index: 2;
        position: absolute;
        
    }
    #i-down{
        display:block;
    }
    #i-up{
        display: none;
    }
    

    .nav-bar li:hover .sub-nav{
        display: block;
    }
    .sub-nav{
        display: none;
        position: absolute;
        background-color: #fff;
    }
   
}



